* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.cont {
  font-family: "Oswald", sans-serif;
  background-color: #181a1b;
  /*  background-image: linear-gradient(to bottom right, #181a1b,black);*/
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
 
}
.a {
  margin-top: 1vw;
  margin-left:22%;
  margin-right:22%;
  text-decoration: inherit;
  background-color: #ff5101;
  color: white;
  padding: 1%;
  border-radius: 30px;
  width: 40%;
  height: 10vh;
  text-align: center;
  box-shadow: 15px 15px 25px rgba(00, 00, 00, 0.5);
}
.a:hover {
  text-decoration: none;
  color: white;
  transition: all 500ms linear;
  width: 50%;
}
.cont h1 {
  padding-top: 3vw;
  text-align: center;
  color: white;
  width: 100%;
  height: 10vh;
}
.cont figure {
  margin: 1%;
  width: 18%;
  height:65vh;
  border-radius: 6px;
  box-shadow: 15px 15px 25px rgba(00, 00, 00, 0.5);
  cursor: pointer;
}
.cont figure img {
  background-size: contain cover;
  width: 100%;
  height: 40%;
  transition: all 500ms ease-out;
}
.cont figure a {
  text-decoration: none;
}
.cont figure h4 {
  color: white;
  text-align: center;
}
.cont p {
  color: white;
  text-align: center;
}
.cont figure:hover {
  background-color: black;
  transition: all 500ms ease-out;
}

@media only screen and (max-width: 830px) {
    
  .a {
    font-size: x-large;
    margin-top: 2%;
    padding: 1%;
    border-radius: 20px;
    width: 45%;
  }
  .a:hover {
    width: 50%;
  }
  .cont {
    width: 100%;
    height:auto;
    display: flex;
    align-items: justify;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .cont figure {
    margin-top: 3%;
    width: 100%;
    height:300px;
    display: flex;
    flex-direction: row;
  }
  .cont figure img {
    float: left;
    background-size: contain cover;
    width: 40%;
    height: 100%;
  }
  .cont figure p{
      text-align: justify;
   margin-top: 5%;

  }
  .cont figure h4{
      margin-top: 2%;
  }
 
}
@media only screen and (max-width: 500px) {
  .a {
    margin-left:15%;
    font-size: x-large;
    margin-top: 3%;
    border-radius: 20px;
    width: 70%;
    margin-right: 10%;
  }
  .a:hover {
    width: 80%;
  }
  .cont {
    width: 100%;
    height: auto;
    display: flex;
   
    justify-content: center;
    flex-direction: column;
  }

  .cont figure {
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: auto;

  }
  .cont figure img {
    
    background-size: contain ;
    width: 100%;
    height: 50%;
  }
}
